* {
    box-sizing: border-box;
}

/* [class*="col-"] {
    float: left;
    border: 1px solid darkgray;
    width: 100%; /* mobile first - 100% width 
} */


@media only screen and (max-width: 767px) {
    #description{
        text-align: center;
        
    }

    }
/* For large enough screens, use 12-column grid */
@media only screen and (min-width: 768px) {
    .row {
        width: 100%;
    }

    .col-12 {
        width: 100%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-4 {
        width: 33.33%;
    }
    #description{
        text-align: left;
        
    }
}

 #main-header{
    text-align: center;
}

#login-button{
    margin-right: 15px;
}

.footer {
    /* position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;  */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;   
}

html, body{ height:100%;  }


body{
    /* height: 100%; */
    background-color: #fbfbf2;
    display: flex;
    flex-direction: column;

}

.nav-item a{
    color:#096af9
}


footer div p{
    padding-left: 20px;
    color: #677078!important;

}
.text-muted{
    color: #677078;
}

.footer ul {
    padding-right: 20px;
    color: #0465f4;

}

.footer a:hover {
    color: blue;
}

.footer a{
    text-decoration: underline;
    color:#0869f8
}

.page-wrap{
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    /* min-height: 100%; */
    
}

#page-container {
    position: relative;
    min-height: 70vh;
}

#page-container-account {
    position: relative;
    min-height: 65vh;
}
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

#card-view{
    margin: 50px

}

#book-item{
    margin: 25px;
}

.login-card{
    margin: 20px;
}

.card-header{
    text-align: left;
}

.form{
    text-align: left;
}

h1 {
    text-align: center;
    color: #df6c00    ;
    padding: 10px;
    -webkit-text-stroke:0.05vw #232D4B;
    animation-name: colorchange;
    animation-duration: 4s;
  }
  
@keyframes colorchange {
    from {color: #232d4b;}
    to {color: #dd6e02;}
}

  #book-image{
    max-width:100%;
    max-height:100%;
    height: auto;
  }
  #book-title{
    font-size: xx-large;
  }
  #book-author{
    font-size: x-large;
  }
  #publish-date{
      font-size: large;
  }
  #bookslides {
    margin-left: 50px;
    margin-right: 50px;
  }
  

  .carousel-indicators{
      bottom:-25;
      background-color: black;
  }


.carousel-control-prev-icon,
.carousel-control-next-icon {

  height: 100px;
  width: 44px;
  background-size: 100%, 100%;
  background-image: none;
  
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 44px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 44px;
  color: black;
}
.book-image{
    padding-left: 40px;
    padding-right: 40px;
}

.logo{
    height: 40px;
    width: 60px;
    border-radius: 4%;
}
#login-button a{
   color:#298aff;
}


.d-flex .btn{
    color:#2f9d6a;

}
